.container
  .page-header
    h1 Upcoming Tech Events

  .toolbar.tabular
    form.search
      input.form-control(
        type="search"
        ng-model="search_text"
        placeholder="Filter Events"
      )
    .event-list-options
      .btn-toolbar
        .btn-group
          a.btn.btn-primary(
            href="/post-event"
          ) Post an Event



  ol.events.unstyled.async
    li.tabular(
      ng-repeat="event in events.rows | filter:search_text"
      id="{{ event.id }}"
    )
      div
        .event-icon(ng-switch on="event.value.has_description")
          i.glyphicon.glyphicon-flash(ng-switch-when="true")
          i.glyphicon.glyphicon-link(ng-switch-when="false")

      .event-details
        .name(ng-switch on="event.value.has_description")
          a(
            ng-switch-when="true"
            href="/event/{{ event.id }}"
          )
            | {{ event.value.name }}
          a(
            ng-switch-when="false"
            href="{{ event.value.homepage }}"
            target="_blank"
          )
            | {{ event.value.name }}

        .setting.small
          span.start(
            ng-bind="moment(event.value.start).calendar()"
          )
          time.timeago(
            datetime="{{ parse_date(event.value.creation_date) }}"
            ng-init="from_now = moment(event.value.creation_date).fromNow()"
          )
            | &mdash; posted {{ from_now }}
