doctype html
html(lang="en", ng-app="jobs")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Canadian Programmer Jobs

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/app.css")

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js")
    script(src="javascripts/angular-local-storage.js")
    script(src="javascripts/app.js")
  body
    .btn-toolbar(role="toolbar")
      button.btn.btn-primary.btn-large(
        data-toggle="modal",
        data-target="#add-job"
      )
        | Add a Job
    h1 Jobs

    div(ng-controller="JobCtrl")
      p {{ jobs.length }} Jobs
      ul.unstyled
        li(ng-repeat="job in jobs")
          h5 {{ job.position }}
          small {{ job.company }}
          .description {{ job.description }}

      #add-job.modal.fade(
        tabindex="-1",
        role="dialog",
        aria-labelledby="addJobModal",
        aria-hidden="true"
      )
        .modal-dialog
          .modal-content
            form(role="form", ng-submit="addJob()")
              .modal-header
                button.close(data-dismiss="modal", aria-hidden="true", type="button")
                  | &times;
                h4#addJobModal.modal-title Add a Job

              .modal-body
                .form-group
                  label(for="new-job-position") Job Position
                  input#new-job-position.form-control(
                    type="text",
                    ng-model="position"
                  )
                .form-group
                  label(for="new-job-company") Company
                  input#new-job-company.form-control(
                    type="text",
                    ng-model="company"
                  )
                .form-group
                  label(for="new-job-description") Description
                  textarea#new-job-description.form-control(
                    ng-model="description"
                  )
              .modal-footer
                input.btn.btn-primary(type="submit", value="Save")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
